
.city{
    border: 1px rgb(116, 116, 116, 0.2) solid;
  border-radius: 10px;
  
  margin: 20px 0;
  width:309px;
}

.city a{
    
    text-decoration: none;

}
.city-options{
    display: flex;
    justify-content: space-between;
    width:260px;
    height:68px;
    margin: 0px 30px;
}
.city img{
    width:100%; 
    height:278;
    border-radius:10px 10px 0px 0px;
}
.city:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button-option{
    font-size: 10px;
    font-weight: 400px;
    color: #fff;
    background-color: #3d83df;
    border-radius: 5%;
    padding: 10px 15px;
    margin: 15px 0px;
  }
  
.button-option:hover{
    background-color: #1662C6;
    color: #fff;
  }
  h4{color:#747474;
font-size: 18px;
font-weight: 350;
padding-top: 20px;}